<div class="container">
    <div class="header">
      <h1 style="font-size: 2.5rem;">SmaRTWork Login</h1>
    </div>
    <div class="card-body">
      <!-- Show error message if token is invalid -->
      <div *ngIf="!backendService.isTokenValid()" class="alert alert-danger">
        Denne lenken er ikke lenger gyldig. Ta kontakt på <a href="mailto:smartwork@idi.ntnu.no">smartwork&#64;idi.ntnu.no</a> for ny lenke for å lage passord til SmaRTWork appen.
      </div>

  <mat-card style="background-color: rgba(111, 143, 228, 0.1)" *ngIf="backendService.isTokenValid()">
    <mat-card-title>Kjære  {{backendService.getCurrentUsername()}}, (dette er ditt brukernavn i SmaRTWork-appen). Nedenfor lager du ditt personlige passord for å logge på appen.</mat-card-title>  
    
  <mat-card-content>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" autocomplete="off">
  <p>
    <mat-form-field>
      <input type="password" matInput placeholder="Passord" formControlName="password">
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Passord er påkrevd</mat-error>
      <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">
        Passordet må bestå av minst 8 tegn  </mat-error>
      <mat-error *ngIf="loginForm.get('password')?.hasError('pattern')"> Passordet må inkludere minst ett tall og minst én bokstav.</mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input type="password" matInput placeholder="Bekreft passord" formControlName="confirmPassword">
      <mat-error *ngIf="loginForm.get('confirmPassword')?.hasError('required')">
        Vennligst bekreft passordet ditt
      </mat-error>
      <mat-error *ngIf="loginForm.get('confirmPassword')?.hasError('passwordMismatch')">
        Passordene samsvarer ikke
      </mat-error>
    </mat-form-field>

   </p>

  <div style="margin-top: 15px; color: gray;">
    <small>Passordet må bestå av minst 8 tegn og inkludere minst ett tall og minst én bokstav. </small>
  </div>
  
 <div class="button">
    <button type="submit" mat-raised-button class="submit-button" [disabled]="!loginForm.valid">Send passord</button>
  </div>
  
  </form>
  </mat-card-content>
  </mat-card>
</div>
</div>
